<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />

  <title>Monster Battle</title>

  <link rel="stylesheet" href="app.css" />

</head>

<body>

  <div id="app">
    <header class="header">
      <h1>Scary Monster Battle.</h1>
    </header>

    <div class="players" :class="isPlaying ? 'players--active' : 'players--inactive'">
      <div v-for="(player, i) in players" class="player" :class="['player--' + i, player.hp > 0 ? 'is-alive' : 'is-dead']" :key="player.name">
        <h2 v-if="!isEditingName" class="player__name" @click="isEditingName = true">{{ player.name }}</h2>
        <input
          v-if="isEditingName"
          type="text"
          class="player__edit-name"
          autofocus="autofocus"
          @blur="player.name = $event.target.value; isEditingName = false"
          @keydown.enter="player.name = $event.target.value; isEditingName = false"
          :value="player.name"
          />
        <div v-if="isPlaying" class="player__health-bar">
          <div class="player__health-viz" :style="{ width: player.hp + '%' }" :class="{ 'is-alright': player.hp < 75, 'is-low': player.hp < 50, 'is-critical': player.hp < 20 }">
            <div class="player__health-figure">{{ player.hp }}</div>
          </div>
        </div>
        <div v-if="isPlaying && player.message" class="player__message">{{ player.message }}</div>
      </div>
    </div>

    <div class="actions">
      <template v-if="isPlaying">
        <button @click="attack(0, 1)" type="button" class="action action--negative" :disabled="isWaiting">Attack</button>
        <button @click="specialAttack(0, 1)" type="button" class="action action--special" :disabled="players[0].specialCooldown > 0 || isWaiting">
          Special Attack
          <span class="action__charge" :class="['action__charge--' + players[0].specialCooldown]"></span>
        </button>
        <button @click="heal(0)" type="button" class="action action--positive" :disabled="isWaiting">Heal</button>
        <button @click="flee(0)" type="button" class="action action--neutral" :disabled="isWaiting">Flee</button>
      </template>

      <template v-if="!isPlaying">
        <button @click="startGame" type="button" class="action action--positive">Start New Game</button>
      </template>
    </div>

    <div class="log">
      <dl class="log__list">
        <template v-for="entry in log">
          <dt class="log__time">{{ entry.timestamp }}</dt>
          <dd class="log__action" :class="'log__action--' + entry.disposition">{{ entry.text }}</dd>
        </template>
      </dl>
    </div>
  </div>

  <script src="vue.js"></script>
  <script src="app.js"></script>
</body>

</html>
