<link rel="stylesheet" href="styles.css" />

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" :class="class1"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div class="blank-canvas" :class="[class2, class3]">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <input type="text" v-model="userClasses" />
    <div class="blank-canvas" :class="userClasses"></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <input type="text" v-model="userClasses" />
    <input type="text" v-model="hasBorder" />
    <div class="blank-canvas" :class="[userClasses, { border: boolHasBorder }]"></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <input type="text">
    <div class="blank-canvas"></div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button v-on:click="startProgress">Start Progress</button>
    <div class="blank-canvas">
      <div class="progress" :style="{ width: progress + '%' }"></div>
    </div>
  </div>
</div>

<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="app.js"></script>
